In [5]:
#Practical-7 
#Kalpit thanki
#206270307074
import pandas as pd

details = {
    'Name': ['Kalpit', 'Dhruv', 'Sumit'],
    'Age': [18, 17, 18],
    'Enrollment': [206270307074, 216270307058, 216270307049]
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(details)

# Print the DataFrame
print(df)

     Name  Age    Enrollment
0  Kalpit   18  206270307074
1   Dhruv   17  216270307058
2   Sumit   18  216270307049

In [6]:
#to sort the DataFrame first by 'name' in ascending order 
import numpy as np
import pandas as pd 
details = { 'Name' : ['Kalpit', 'Dhruv', 'Sumit'], 
'Age' : [18, 17, 18], 
'Enrollment' : [206270307074, 216270307058, 216270307049] } 
print(pd.DataFrame(details, columns = ['Name', 'Age','Enrollment']).sort_values(by = ['Name']))

     Name  Age    Enrollment
1   Dhruv   17  216270307058
0  Kalpit   18  206270307074
2   Sumit   18  216270307049

In [8]:
#to delete the one specific column from the DataFrame 
import pandas as pd 
import numpy as np 
details = { 'Name' : ['Kalpit', 'Dhruv', 'Sumit'],
 'Age' : [18, 17, 18],
 'Enrollment' : [206270307074, 216270307058, 216270307049] } 
print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']).drop(['Age'], axis = 1))

     Name    Enrollment
0  Kalpit  206270307074
1   Dhruv  216270307058
2   Sumit  216270307049

In [9]:
#to write a DataFrame to CSV file using tab separator 
import pandas as pd
import numpy as np
details = { 'Name' : ['Kalpit', 'Dhruv', 'Sumit'],
'Age' : [18, 17, 18], 
'Enrollment' : [206270307074, 216270307058, 216270307049] }
data_frame = pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment'])
data_frame.to_csv('Details.csv', sep = '\t')
 # Saving as a CSV file
new_data_frame = pd.read_csv('Details.csv') 
# loading the CSV file
print('\nData from Students.csv : \n', new_data_frame)

Data from Students.csv :
        \tName\tAge\tEnrollment
0  0\tKalpit\t18\t206270307074
1   1\tDhruv\t17\t216270307058
2   2\tSumit\t18\t216270307049