In [1]:
#Practical-6 
#Kalpit thanki
#206270307074
#1 to convert a NumPy array to a Pandas series 
import pandas as pd
import numpy as np

In [25]:
a7074=np.array([5,4,3,2,1])
print("Array:",a7074)

array [5 4 3 2 1]

In [27]:
b2074= pd.Series(a7074)
print("Series:",b2074)

Series: 0    5
1    4
2    3
3    2
4    1
dtype: int32

In [4]:
#2 to convert the first column of a DataFrame as a Series 
c2074=pd.DataFrame({'number':[1,2,3,4],'color':['red','blue','green','orange']})
print(c2074)

   number   color
0       1     red
1       2    blue
2       3   green
3       4  orange

In [28]:
d2074=c2074['number']
print("First Column:",d2074)

First Column: 0    1
1    2
2    3
3    4
Name: number, dtype: int64

In [7]:
d2074=c2074['color']
print(d2074)

0       red
1      blue
2     green
3    orange
Name: color, dtype: object

In [29]:
#3 to create the mean and standard deviation of the data of a given Series 
e2074=pd.Series([12,23,35,24,55,86,57,18,49,14])
print("Series",e2074)

Series 0    12
1    23
2    35
3    24
4    55
5    86
6    57
7    18
8    49
9    14
dtype: int64

In [31]:
f2074=print("Mean:",e2074.mean())

Mean: 37.3

In [33]:
g2074=print("Standard Deviation:",e2074.std())

Standard Deviation: 23.926043458030325

In [34]:
#4 to sort a given Series 
h2074=print("Ascending-Order:",e2074.sort_values(ascending=True))

Ascending-Order: 0    12
9    14
7    18
1    23
3    24
2    35
8    49
4    55
6    57
5    86
dtype: int64

In [19]:
i2074=print("Descending-Order:",e2074.sort_values(ascending = False))

5    86
6    57
4    55
8    49
2    35
3    24
1    23
7    18
9    14
0    12
dtype: int64